[Unit]
Description=Hardware tweaks
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/home/bob/clock/systemd/hardware.sh

[Install]
WantedBy=multi-user.target