[Unit]
Description=School schedule
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=bob
WorkingDirectory=/home/bob/clock
ExecStart=/home/bob/go/bin/school-schedule
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target